
    
    
 



<div class="container">
       
    <div class="row">
           
        <div class="col-md-4 col-md-offset-4">
             
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h1>Change colore here</h1>
                    <h3 class="panel-title">Please Sign In</h3>
                </div>
                <div class="panel-body">
                    <form role="form">
                            <div class="form-group">
                                    <input type="radio" name="gender" value="male" checked> Students<br>
                                    <input type="radio" name="gender" value="female"> Employee<br>
                                    <input type="radio" name="gender" value="other"> Other Employee
                                    <br>
                                    <input type="radio" name="gender" value="other"> Admin  
                                </div>
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" placeholder="E-mail" name="email" type="email" autofocus>
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Password" name="password" type="password" value="">
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input name="remember" type="checkbox" value="Remember Me">Remember Me
                                </label>
                            </div>
                            <!-- Change this to a button or input when using this as a form -->
                            <a  class="btn btn-lg btn-success btn-block" routerLink="dashboard">Login</a>

                           

                           
                            
                        
                        </fieldset>
                    </form>
                </div>
            </div>
        
        
        
       
       
       
      
      
      
      
        </div>
        <div class="row">
                <br/>
                <br/>
            <br/>
            <br/>
        <div class="col-md-2">
                <select  class="form-control" name="color" [ngModel]="color" id="color" (change)="onSelect($event.target.value)" ngModel>
                        <option  value="Red" >Red</option>
                        <option value="Green">Green</option>
                        <option value="Yellow">Yellow</option>
                       </select> 
                    
                    </div>

                    <div  class="col-md-4"><h4>Upload Logo</h4>
                        <input type="file" #fileInput placeholder="Upload file..." />
                        <button type="button" (click)="upload()">Upload</button>
                    
                    </div>
              </div>
    </div>
</div>