h1 {
    color: greenyellow;
  }
  .btn-success {
    color: #fff;
    background-color: rgb(153, 44, 255);
    border-color: #4cae4c;
}
.navbar-default {
    color: greenyellow;
    background-color:  rgb(153, 44, 255);
  border-color: red;
}